/* line 3 */
#content ul li ul, .article ul li ul {
  margin-left: 20px;
}

/* line 9 */
#footer {
  text-align: center;
}
/* line 15 */
#footer ul.nav {
  margin-left: 80px;
}

/* line 21 */
.upcoming {
  margin-left: 10px;
  margin-bottom: 30px;
}
/* line 27 */
.upcoming ul {
  margin-left: 6px;
}

/* line 39 */
#sidebar #guarantee h3.guarantee a:link, #sidebar #guarantee h3.guarantee a:hover, #sidebar #guarantee h3.guarantee a:visited, #sidebar #guarantee h3.guarantee a:active {
  display: inline;
  text-decoration: none;
  color: #35393a;
}
/* line 51 */
#sidebar #guarantee p a:link, #sidebar #guarantee p a:hover, #sidebar #guarantee p a:visited, #sidebar #guarantee p a:active {
  display: inline;
  text-decoration: none;
  color: #35393a;
}
/* line 59 */
#sidebar #guarantee p a:hover {
  color: #2c5283;
}
/* line 65 */
#sidebar #training-banner {
  padding: 8px 0px;
}
